---
import Social from './Social.astro'
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    background-color: rgb(103, 103, 103);
  }
</style>

<footer>
    <Social platform="Github" username="diego1999dd"/>
    <Social platform="Linkedin" username="diego-rodrigues-do-nascimento"/>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
</footer>
